.paginated_queries {
  margin-top: 1rem;
  background-color: #1c1c1c;
  padding: 0.5rem;
}
h1 {
  padding-inline: 0.5rem;
}
h2 {
  text-decoration: underline;
  font-weight: 400;
}
.show_data {
  background-color: #2b2b2b;
  margin-top: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  flex-direction: column;
}
.data_container {
  display: flex;
  align-self: flex-start;
  gap: 1rem;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}
.data_div {
  background-color: #1a1a1a;
  height: min-content;
  text-align: center;
  padding: 0.5rem;
}
.data_div img {
  width: 100px;
  height: 100px;
}
